
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Mina&family=Nanum+Gothic+Coding&family=Nova+Square&family=Poppins:wght@300&family=Quicksand&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans&display=swap');

body {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #212121;
    font-family:  monospace, Source Code Pro;
    -webkit-font-smoothing: antialiased;
}

p {
    margin-top: 10px;
}

#label {
    font-weight: bold;
    font-size: large;
}

input {
    padding: 10px;
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:  monospace, Source Code Pro;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family:  monospace, Source Code Pro;
}

#questionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#questionDifficulty {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}

#questionTopics {
    font-size: 16px;
    margin-top: 10px;
}

#questionLink {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

#questionLink:hover {
    text-decoration: underline;
}

#container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

/* #url-div {
    display: none;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
} */

/* #url-div p {
    margin: 10px 0;
}

#url-div button {
    width: 90%;
    padding: 10px;
    margin-right: 100px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#url-div button:hover {
    background-color: #0056b3;
} */


@keyframes shine {
    0% { color: rgb(57, 63, 97); }
    50% { color: #9fa5d3; }
    100% { color: rgb(57, 63, 97); }
}

